body {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;

    
}
.main {
    width: 100%;
    height: 100vh;
    display: flex;
    background: linear-gradient(45deg, #601C4E 20%, #F8823E 100%);
   text-align: center;
    
    

}

.container {
    display: flex;
    max-width: 1800px;
    margin: auto;
    color: whitesmoke;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.video_with_gameplay {
    max-width: 1600px;
    width: 1000px;
    height:600px;
    
   
    
}
.btn {
    width: 200px;
    height: 50px;
    background-color: #F8823E;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: whitesmoke;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 20px;
}
.btn:hover {
    background-color: #601C4E;
}
.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.6);
}
.btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Оптимизация страницы под все гаджеты */
@media (max-width: 768px) {
    .main {
        flex-direction: column;
    }
    .video_with_gameplay {
        width: 100%;
        height: 400px;
    }
    .btn {
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}
@media (max-width: 1010px) {
    
    .video_with_gameplay {
        width: 100%;
        height: 400px;
    }
    
}




